*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar
{
  display:flex;
  padding:20px 36px;
  box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.1);
}
.airbnb-logo
{
  width:200px;
}

/*Hero Section */
.hero
{
  padding: 30px;
  display:flex;
  flex-direction: column;
 
}
 .group-image
{
  max-width:100%;
  align-self: center;
}
.hero-header,.hero-text
{
  
  margin-top:30px;
  line-height:1;
}
.hero-header
{
  font-size: 40px;
  font-weight: bold;
  
}
.hero-text
{
  font-weight:normal;
  font-size: 20px;
}
/*Card Container*/
.card-container
{
  padding:30px;
  font-size:12px;
  display:flex;
  flex-direction:column;
  justify-content: start;
  
}
.card-image
{
  height:300px;
  width:400px;
  border-radius:9px;
}

.star-image
{
  height:18px;
}
.main-card-container
{
  display:flex;
  flex-direction: row;
  gap:10px;
}
.card-stats
{
  margin: 10px 0;
  font-size:15px;
  font-weight: bold;
}
.count1,.count2
{
  margin: 0 2px;
}
.main-text
{
  font-weight: bold;
  font-size: 15px;
}


@media only screen and (max-width: 1200px) {
  .main-card-container
  {
    flex-direction: column;
    width:100%;
    align-items: center;
  }
}
@media only screen and (max-width:400px) {
  .main-text,.card-stats
  {
    text-align: center;
  }
}